{% if page.author_profile or layout.author_profile or page.sidebar %}
  {% if page.sidebarprops.hover == "no" or page.sidebarprops.hover == false %}
    <div class="sidebar sticky hoverimmune">
  {% else %}
    <div class="sidebar sticky">
  {% endif %}
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}

  {% if page.sidebar %}
    {% include /functions/parse_elements.html elements=page.sidebar in_sidebar=true %}
  {% endif %}
  </div>
{% endif %}
